* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  @media (max-width: 768px) {
    body {
      font-size: 14px; /* 小画面向けにフォントサイズを縮小 */
    }
  }

  /* ボタンのサイズ調整 */
  button {
    padding: 10px 20px; /* タッチしやすいサイズに調整 */
    font-size: 14px;
  }
  @media (max-width: 768px) {
    button {
      font-size: 12px; /* 小画面向けに縮小 */
      padding: 8px 16px;
    }
  }

  .container {
    display: flex;
    border: 2px solid rgb(186, 186, 189);
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .map-section {
    flex: 3;
    border: 1px solid rgb(186, 186, 189);
    margin-right: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .control-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .control-panel h1,
  .control-panel p {
    border: 0px solid rgb(186, 186, 189);
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .dropdowns {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    justify-content: space-between; /* プルダウン間に隙間を作る */
  }
 
  .dropdown-group {
  flex: 1; /* プルダウンの横幅を均等にする */
  margin: 0 5px; /* プルダウン間に余白を追加 */
  }

  .dropdown-group label {
  display: block; /* ラベルをブロック要素にする */
  margin-bottom: 5px; /* ラベルとプルダウンの間に余白を追加 */
  }

  .dropdowns select {
    flex: 1;
    width: 100%; /* プルダウンの横幅を親要素に合わせて調整 */
    padding: 10px;
  }
  
  .chart-section {
    flex: 1;
    border: 1px solid rgb(186, 186, 189);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 580px;
  }

  .table-section {
    flex: 1;
    border: 1px solid rgb(186, 186, 189);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 580px;
  }

.table-container {
    margin-top: 20px;
    font-size: 14px;
    overflow-x: auto; /* スマホ考慮 横スクロールを有効化 */
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2; /* ヘッダーの背景色 */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* 奇数行の背景色 */
  }

/* 共通化して高さを調整 */
#dataSelect1, #dataSelect2, #dataSelect3 {
  height: 45px;
  font-size: 14px; /* デフォルトの文字サイズを小さめに */
}
@media (max-width: 768px) {
  #dataSelect1, #dataSelect2, #dataSelect3 {
    font-size: 12px; /* 小画面向けに文字サイズを縮小 */
  }
}

   /* 追加: レスポンシブ対応 画面幅が768px以下の場合、セクションを縦並びに変更 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .map-section, .control-panel {
    width: 100%; /* セクション幅を全幅に設定 */
    margin-right: 0; /* サイドの余白をリセット */
  }
  .chart-section, .table-section {
    width: 100%; /* 全幅に設定 */
    height: auto; /* 高さを自動調整 */
    padding: 10px; /* 内側に余白を追加 */
  }
}