body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    margin-top: 40px;
    font-size: 24px;
}

.contents-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

button {
    margin: 10px;
}

.form-control {
    width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures that columns have fixed width */
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
    width: 12.5%; /* Distributes column width evenly */
    box-sizing: border-box;
}
th {
    background-color: #d9e9f7;
    font-weight: bold;
}

.category-header {
    background-color: #e6f2ff;
}

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .map {
    flex: 1;
  }
  
  .table {
    flex: 1;
  }